In [1]:
katok = ['다현', '정연', '쯔위', '사나', '지효']
print(katok)
print(katok[0])

['다현', '정연', '쯔위', '사나', '지효']
다현

In [2]:
# 마지막 추가
katok.append(None)
katok[5] = '모모'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

In [3]:
# 중간 추가
katok.append(None)
katok[6] = katok[5]
katok[5] = None
print(katok)
katok[5] = katok[4]
katok[4] = None
print(katok)
katok[4] = katok[3]
katok[3] = None
print(katok)
katok[3] = '미나'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None, '모모']
['다현', '정연', '쯔위', '사나', None, '지효', '모모']
['다현', '정연', '쯔위', None, '사나', '지효', '모모']
['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

In [4]:
# 삭제
katok[4] = None
print(katok)
katok[4] = katok[5]
katok[5] = None
print(katok)
katok[5] = katok[6]
katok[6] = None
print(katok)
del katok[6]
print(katok)

['다현', '정연', '쯔위', '미나', None, '지효', '모모']
['다현', '정연', '쯔위', '미나', '지효', None, '모모']
['다현', '정연', '쯔위', '미나', '지효', '모모', None]
['다현', '정연', '쯔위', '미나', '지효', '모모']

In [5]:
katok = list()

def add_data(friend):
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend
    
add_data('다현')
add_data('정현')
add_data('쯔위')
add_data('사나')
add_data('지효')

print(katok)

['다현', '정현', '쯔위', '사나', '지효']

In [6]:
def insert_data(position, friend):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다')
        return
    
    katok.append(None)
    kLen = len(katok)
    
    for i in range(kLen-1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    
    katok[position] = friend
    
insert_data(2, '솔라')
print(katok)
insert_data(6, '문별')
print(katok)

['다현', '정현', '솔라', '쯔위', '사나', '지효']
['다현', '정현', '솔라', '쯔위', '사나', '지효', '문별']

In [8]:
def delete_data(position):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다')
        return
    
    kLen = len(katok)
    katok[position] = None
    
    for i in range(position+1, kLen):
        katok[i-1] = katok[i]
        katok[i] = None
    
    del (katok[kLen-1])

delete_data(1)
print(katok)
delete_data(3)
print(katok)

['다현', '솔라', '쯔위', '사나', '지효', '문별']
['다현', '솔라', '쯔위', '지효', '문별']

In [9]:
katok = list()
select = -1

if __name__ == '__main__':
    
    while select !=4:
        
        select = int(input('선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->'))
        
        if select == 1:
            data = input('추가할 데이터-->')
            add_data(data)
            print(katok)
            
        elif select == 2:
            pos = int(input('삽입할 위치-->'))
            data = input('추가할 데이터-->')
            insert_data(pos, data)
            print(katok)
        
        elif select == 3:
            pos = int(input('삭제할 위치-->'))
            delete_data(pos)
            print(katok)
        
        elif select == 4 :
            print(katok)
            exit
        
        else:
            print('1~4 중 하나를 입력하세요')
            continue

선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->1
추가할 데이터-->안
['안']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->1
추가할 데이터-->녕
['안', '녕']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->1
추가할 데이터-->하
['안', '녕', '하']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->1
추가할 데이터-->세
['안', '녕', '하', '세']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->1
추가할 데이터-->요
['안', '녕', '하', '세', '요']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->2
삽입할 위치-->1
추가할 데이터-->,
['안', ',', '녕', '하', '세', '요']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->3
삭제할 위치-->1
['안', '녕', '하', '세', '요']
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->5
1~4 중 하나를 입력하세요
선택하세요(1:추개, 2:삽입, 3:삭제, 4:종료)-->4
['안', '녕', '하', '세', '요']