
# 수행평가 문제 3 - 1
- timestamp : 1970년 1월 1일 0시 0분 0초를 0으로 설정하고 1초마다 1씩 증가
- 문제 출처 : [링크](https://moon9342.github.io/data-science-lecture-python-pandas-dataframe-exercise)
---
1. 사용자가 평가한 모든 영화의 전체 평균 평점
2. 각 사용자별 평균 평점
3. 각 영화별 평균 평점
4. 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)
5. Comedy영화 중 가장 평균 평점이 낮은 영화의 제목
6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

# 데이터 가져오기
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
movies = pd.read_csv('./ml-latest-small/movies.csv')

In [2]:
# 데이터 확인
# 1. nan값 있는지 없는지
print(ratings.isnull().sum())
print(movies.isnull().sum())

# 데이터 개요
# 사용자가 몇명인지?
print(ratings.groupby(ratings['userId']).count())
# 리뷰가 기록된 영화가 몇개인지?
print(ratings.groupby(ratings['movieId']).count())
# 영화 데이터 개수
print(movies.count())

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
movieId    0
title      0
genres     0
dtype: int64
        movieId  rating  timestamp
userId
1           232     232        232
2            29      29         29
3            39      39         39
4           216     216        216
5            44      44         44
...         ...     ...        ...
606        1115    1115       1115
607         187     187        187
608         831     831        831
609          37      37         37
610        1302    1302       1302

[610 rows x 3 columns]
         userId  rating  timestamp
movieId
1           215     215        215
2           110     110        110
3            52      52         52
4             7       7          7
5            49      49         49
...         ...     ...        ...
193581        1       1          1
193583        1       1          1
193585        1       1          1
193587        1       1          1
193609        1       1          1

[9724 rows x 3 columns]
movieId    9742
title      9742
genres     9742
dtype: int64

- 데이터 전처리
1. timestamp 처리 
    - 참고문헌(datetime.fromtimestamp()) [링크](https://docs.python.org/3/library/datetime.html?highlight=timestamp#datetime.datetime.fromtimestamp)
2. genres 처리
    - 참고문헌(DataFrame.apply()) [링크](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html#pandas.DataFrame.apply)

In [3]:
# timestamp처리
ratings['timestamp'] = ratings['timestamp'].apply(datetime.fromtimestamp)

In [4]:
# genres 처리
# 찍어보면 str로 이루어짐
print(movies['genres'][0])
print(type(movies['genres'][0]))
# 처리방법 1. split해서 리스트로 만든다?

# 일단 리스트로 바꿔보자
movies['genres'] = movies['genres'].apply(lambda x : x.split('|'))

Adventure|Animation|Children|Comedy|Fantasy
<class 'str'>

In [5]:
# 전처리 끝난 DataFrame 하나로 연결
# 평점이 없는 영화가 존재하므로 right outer join
data = pd.merge(ratings, movies, on='movieId', how='right')
display(data)

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,2000-07-31 03:45:03,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,5.0,1,4.0,1996-11-08 15:36:02,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
2,7.0,1,4.5,2005-01-25 15:52:26,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
3,15.0,1,2.5,2017-11-13 21:59:30,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
4,17.0,1,4.5,2011-05-18 14:28:03,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
...,...,...,...,...,...,...
100849,184.0,193581,4.0,2018-09-16 23:44:42,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]"
100850,184.0,193583,3.5,2018-09-16 23:52:25,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]"
100851,184.0,193585,3.5,2018-09-16 23:56:45,Flint (2017),[Drama]
100852,184.0,193587,3.5,2018-09-17 00:00:21,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]"
100853,331.0,193609,4.0,2018-09-17 13:13:26,Andrew Dice Clay: Dice Rules (1991),[Comedy]

## 1. 사용자가 평가한 모든 영화의 전체 평균 평점

In [6]:
print(data['rating'].mean())

3.501556983616962

## 2. 각 사용자별 평균 평점

In [7]:
print(data.groupby(data['userId'])['rating'].mean())

userId
1.0      4.366379
2.0      3.948276
3.0      2.435897
4.0      3.555556
5.0      3.636364
           ...
606.0    3.657399
607.0    3.786096
608.0    3.134176
609.0    3.270270
610.0    3.688556
Name: rating, Length: 610, dtype: float64

## 3. 각 영화별 평균 평점

In [8]:
print(data.groupby(data['movieId'])['rating'].mean())

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9742, dtype: float64

## 4. 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)

In [9]:
# 일단 최고 평점은 5.0
score = data.groupby(data['title'])['rating'].mean()
print(score.max())
# 혹시 동률있나 확인
display(score[score == 5.0] )
# 5.0인 영화 296개

5.0

title
'Salem's Lot (2004)                 5.0
12 Angry Men (1997)                 5.0
12 Chairs (1976)                    5.0
20 Million Miles to Earth (1957)    5.0
61* (2001)                          5.0
                                   ...
Won't You Be My Neighbor? (2018)    5.0
Wonder Woman (2009)                 5.0
World of Glory (1991)               5.0
Wow! A Talking Fish! (1983)         5.0
Zeitgeist: Moving Forward (2011)    5.0
Name: rating, Length: 296, dtype: float64

5. Comedy영화 중 가장 평균 평점이 낮은 영화의 제목

In [10]:
tmp = []
for a in data['genres']:
    tmp.append('Comedy' in a)
# Comedy영화 boolean mask
tmp_arr = np.array(tmp)

In [11]:
score = data[tmp_arr].groupby(data[tmp_arr]['title'])['rating'].mean()
# 최저 평점 0.5
print(score.min())
# 0.5인 Comedy 영화
print(score[score == 0.5])

0.5
title
Aloha (2015)                                               0.5
Are We There Yet? (2005)                                   0.5
Arthur Christmas (2011)                                    0.5
Bad Santa 2 (2016)                                         0.5
Born to Be Wild (1995)                                     0.5
Boudu Saved From Drowning (Boudu sauvé des eaux) (1932)    0.5
Brothers Solomon, The (2007)                               0.5
Carabineers, The (Carabiniers, Les) (1963)                 0.5
Daddy Day Camp (2007)                                      0.5
Follow Me, Boys! (1966)                                    0.5
Hard Ticket to Hawaii (1987)                               0.5
Haunted House 2, A (2014)                                  0.5
Jesus Christ Vampire Hunter (2001)                         0.5
Joe Dirt 2: Beautiful Loser (2015)                         0.5
Journey 2: The Mysterious Island (2012)                    0.5
Leprechaun 4: In Space (1997)                              0.5
Maria Bamford: The Special Special Special! (2012)         0.5
Old Dogs (2009)                                            0.5
Saving Christmas (2014)                                    0.5
Secret Society (2002)                                      0.5
The Emoji Movie (2017)                                     0.5
The Star Wars Holiday Special (1978)                       0.5
Tooth Fairy 2 (2012)                                       0.5
Uncle Nino (2003)                                          0.5
Zombie Strippers! (2008)                                   0.5
Name: rating, dtype: float64

## 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?

In [13]:
tmp = []
for a in data['genres']:
    tmp.append('Romance' in a)
# Romance 영화 boolean mask
tmp_arr = np.array(tmp)

tmp = []
for a in data['timestamp']:
    tmp.append(a.year == 2015)
# Romance 영화 boolean mask & 2015년도에 평가된 리뷰 boolean mask
tmp_arr = np.array(tmp) & tmp_arr

print(data[tmp_arr]['rating'].mean())

3.396375098502758

---
# 수행평가 문제 3 - 2
---

1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.
2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 평균적으로 더 높은지 확인하세요.
3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.
4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.
5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.
6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.
7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.
8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.
- 저번에 class로 해결한거 DataFrame으로 해결하기

In [14]:
import numpy as np
import pandas as pd

# 저번에 사용한 파일 csv로 바꿔서 불러오기
data = pd.read_csv('mpg.csv')
display(data)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

In [18]:
print('배기량 4이하인 자동차의 고속도로 연비 : {}'.format(data[data['displ'] <= 4]['hwy'].mean()))
print('배기량 5이상인 자동차의 고속도로 연비 : {}'.format(data[data['displ'] >= 5]['hwy'].mean()))
# 4이하인 자동차가 더 높다

배기량 4이하인 자동차의 고속도로 연비 : 25.96319018404908
배기량 5이상인 자동차의 고속도로 연비 : 18.07894736842105

## 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다.  "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 평균적으로 더 높은지 확인하세요.

In [23]:
print('audi 자동차의 도시 연비 : {}'.format(data[data['manufacturer']=='audi']['cty'].mean()))
print('toyota 자동차의 도시 연비 : {}'.format(data[data['manufacturer']=='toyota']['cty'].mean()))
# toyota가 더 높다

audi 자동차의 도시 연비 : 17.61111111111111
toyota 자동차의 도시 연비 : 18.529411764705884

## 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

In [31]:
data_3 = data[(data['manufacturer']=='chevrolet')
              |(data['manufacturer']=='ford')
              |(data['manufacturer']=='honda')]
print(data_3.groupby(data_3['manufacturer']).mean()['cty'])

manufacturer
chevrolet    15.000000
ford         14.000000
honda        24.444444
Name: cty, dtype: float64

## 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.

In [42]:
display(data[data['manufacturer']=='audi'].sort_values(['hwy'], ascending=False).head(5))

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

## 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

In [58]:
# 새로운 colums 만들기
data['mean'] = (data['cty'] + data['hwy'])/2
display(data)
# 회사별 suv 연비 1~5 순위 출력
for a in data['manufacturer'].unique():
    print("{} 회사의 suv 자동차 연비 1~5위".format(a))
    display(data[(data['class']=='suv')&(data['manufacturer']==a)].sort_values(['mean'], ascending=False).head(5))
    
# suv 없는 회사도 출력해야 하나?

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

audi 회사의 suv 자동차 연비 1~5위

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class, mean]
Index: []

chevrolet 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,17.0
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,17.0
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,16.5
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,15.5
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,15.0

dodge 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
62,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,15.5
57,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,15.0
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,15.0
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,15.0
61,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,13.5

ford 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
78,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,17.0
80,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,16.0
81,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,16.0
77,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
79,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5

honda 회사의 suv 자동차 연비 1~5위

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class, mean]
Index: []

hyundai 회사의 suv 자동차 연비 1~5위

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class, mean]
Index: []

jeep 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
122,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,19.5
124,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,17.5
123,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,17.0
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,16.5
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,15.5

land rover 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
131,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,15.0
132,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,15.0
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,13.0
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,13.0

lincoln 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,15.0
134,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,13.5

mercury 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,16.0
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,16.0
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0

nissan 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,17.0
151,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,16.0
150,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,15.5
153,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,15.0

pontiac 회사의 suv 자동차 연비 1~5위

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class, mean]
Index: []

subaru 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,23.5
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,23.0
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,22.0
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,21.5
160,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,21.0

toyota 회사의 suv 자동차 연비 1~5위

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mean
174,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,18.0
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,18.0
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,17.5
175,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,17.0
176,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,16.0

volkswagen 회사의 suv 자동차 연비 1~5위

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class, mean]
Index: []

## 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

## 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

## 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.