# 수행평가
[문제 링크](https://moon9342.github.io/python-lecture-python-program-exercise-1)
- update at 2021.01.10

## 문제 1.

- 10보다 작은 자연수 중에서 3 또는 5의 배수는 3,5,6,9가 존재해요! 
- 이것들의 합은 23입니다.
- 1000보다 작은 자연수 중에서 3 또는 5의 배수들을 구해서 모두 합하면 얼마인가요?

정답 : 233168

In [ ]:
result = set()
for i in range(1000):
    if i % 3 == 0:
        result.add(i)
    elif i % 5 == 0:
        result.add(i)

sum(result)


## 문제 2.
- 피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 됩니다. 
- 1과 2로 시작하는 경우 이 수열은 아래와 같습니다.

- 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
- 짝수이면서 4백만 이하인 모든 항을 더하면 얼마가 됩니까?

정답 : 4613732

In [ ]:
idx_f = 1
idx_s = 2
total_array = {1, 2}

while idx_s < 4.0E6:  
    tmp = idx_f
    idx_f = idx_s
    idx_s = tmp + idx_s
    total_array.add(idx_s)

sum([a for a in total_array if a % 2 == 0 ])

## 문제 3.
- 알파벳 대소문자로 된 문자열이 주어지면, 이 문자열에서 가장 많이 사용된 알파벳dl 무엇인지 출력하는 프로그램을 작성하시오. 
- 단, 대소문자는 구별하지 않아요. 만약 동률이 존재하는 경우 알파벳 순으로 제일 앞에 있는 문자를 출력하세요.

    1. 문자열) "This is a sample Program mississippi river"
    2. 문자열) "abcdabcdababccddcd"

정답 :  "This is a sample Program mississippi river" => I

정답 :  "abcdabcdababccddcd" => C

In [ ]:
def findChar(str):
    result = {}
    for n in set(str):
        result[n] = str.count(n)
    
    mx = 0
    a = ''
    for b in result.keys():
        if mx < result[b]:
            mx = result[b]
            k = b 
        elif mx == result[b]:
            if k < b:
                pass
            else:
                k = b
        else:
            pass
        
    print(k.upper())
    
str1 = 'This is a sample Program mississippi river'
str1 = str1.replace(' ','')
findChar(str1)

str2 = 'abcdabcdababccddcd'
findChar(str2)

## 문제 4.
-  로또 프로그램 작성 
- 5000원으로 로또복권을 5장 자동으로 구매합니다. 
- 이번 주 로또 당첨번호를 생성하여 로또 당첨을 확인하세요!
- 쉬운버전으로 먼저 작성합니다.  
- 6숫자가 다 맞으면 1등, 5개 맞으면 2등으로 처리합니다.
- 즉, 쉬운버전은 보너스 숫자는 없는 것으로 간주합니다.
- 쉬운버전을 해결했다면 보너스 숫자를 이용하여 로또 당첨을 확인합니다.
- 보너스 숫자를 제외한 모든 숫자가 다 맞으면 1등, 보너스 숫자를 포함하여 6개의 숫자가 맞으면 2등, 보너스를 제외하고 5개의 숫자가 맞으면 3등으로 처리합니다.

- 쉬운버전의 출력은 1등 몇개, 2등 몇개, 3등 몇개, 4등 몇개, 꽝 몇개로 출력
- 어려운버전의 출력은 1등 몇개, 2등 몇개, 3등 몇개, 4등 몇개, 5등 몇개, 꽝 몇개로 출력
---

- 랜덤값을 도출하기 위해서는 다음의 코드를 이용한다.

import random

- i = random.randint(1, 100)  # 1부터 100 사이의 임의의 정수 
- f = random.random()   # 0부터 1 사이의 임의의 float
- i = random.randrange(1, 101, 2) # 1부터 100 사이의 임의의 짝수
- i = random.randrange(10)  # 0부터 9 사이의 임의의 정수
---

- 추가문제
- 1등에 당첨될려면 평균적으로 얼마만큼의 돈을 투자해야 할까요?
- 로또 1게임은 1000원입니다.

In [2]:
def getNum(num):
    import random

    numList = []
    n = 0
    while n < num:
        i = random.randint(1, 46)
        if i not in numList:
            numList.append(i)
        else:
            pass
        n += 1
    
    return numList

In [3]:
# 쉬운 버전
def printResult_e(num):
    winningList = getNum(num)
    result = []
    
    for i in range(5):
        temp = getNum(num)
        print(f'내 복권 {i+1}', temp)
        count = 0
        for a in temp:
            if a in winningList:
                count += 1
            
        result.append(count)

    print('당첨 복권', winningList)
    print('1등 : {}회, 2등 : {}회, 3등 : {}회, 4등 : {}회, 꽝 : {}회'.format(result.count(6),result.count(5),result.count(4),result.count(3),result.count(2)+result.count(1)+result.count(0)))
    
printResult_e(6)

내 복권 1 [14, 26, 6, 41, 5, 2]
내 복권 2 [35, 27, 16, 40, 22]
내 복권 3 [28, 8, 31, 14, 33, 2]
내 복권 4 [5, 37, 29, 41, 19]
내 복권 5 [35, 13, 32, 6, 28, 3]
당첨 복권 [35, 2, 34, 31, 4]
1등 : 0회, 2등 : 0회, 3등 : 0회, 4등 : 0회, 꽝 : 5회

In [17]:
# 어려운 버전
def printResult_h(num):
    winningList = getNum(num)
    bouns = winningList[-1]
    result = []
    
    for i in range(5):
        temp = getNum(num-1)
        print(f'내 복권 {i+1}', temp)
        count = 0
        for a in temp:
            if a in winningList:
                count += 1
        if count == 5 & bouns in temp:
            result.append(count ** 2)
        else:
            result.append(count)
    
    print('당첨 복권', winningList)
    print('1등 : {}회, 2등 : {}회, 3등 : {}회, 4등 : {}회, 5등 : {}, 꽝 : {}회'.format(result.count(6),result.count(25),result.count(5),result.count(4),result.count(3),result.count(2)+result.count(1)+result.count(0)))

printResult_h(7)

내 복권 1 [4, 22, 15, 35, 45, 43]
내 복권 2 [36, 38, 33, 7, 22, 41]
내 복권 3 [32, 31, 1, 12, 28, 22]
내 복권 4 [39, 5, 40, 26, 36, 43]
내 복권 5 [4, 37, 7, 23, 38, 15]
당첨 복권 [40, 46, 25, 35, 36, 26, 37]
1등 : 0회, 2등 : 0회, 3등 : 0회, 4등 : 0회, 5등 : 1, 꽝 : 4회

## 문제 5.
- 어떤 수를 소수의 곱으로만 나타내는 것을 소인수분해라 하고, 이 소수들을 그 수의 소인수라고 합니다.
- 예를 들면 13195의 소인수는 5, 7, 13, 29 입니다.

- 600851475143의 소인수 중에서 가장 큰 수를 구하세요.

정답 : 6857

- 참고자료 [에라토스테네스의 체](https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes)

In [ ]:
prime = []

# 2부터 자기자신까지의 리스트 생성
target = 13195
data = [i+2 for i in range(target-1)]

In [25]:
# 소수찾기 ver 1
prime = []
data = [2,3,4,5,6,7,8,9,10,11,12,13]

while len(data) > 0 :
    prime.append(data[0])
    for a in range(len(data)):
        if data[a] % data[0] == 0:
            data[a] = data[0]
    data = set(data)
    data = list(data)
    data.sort()
    del data[0]
    
print(prime)

[2, 3, 5, 7, 11, 13]

In [24]:
# 소수 찾기 ver2
# 안됨
prime = []
data = {2,3,4,5,6,7,8,9,10,11,12,13}

while len(data) > 0 :
    prime.append(data[0])
    tmp_set = set()
    for a in range(len(data)):
        if data[a] % data[0] == 0:
            tmp_set.add(data[a])
    data = data - tmp_set
    
print(prime)

TypeError: 'set' object is not subscriptable

## 문제 6.
- 앞에서부터 읽을 때나 뒤에서부터 읽을 때나 모양이 같은 수를 대칭수(palindrome)라고 부릅니다.

- 두 자리 수를 곱해 만들 수 있는 대칭수 중 가장 큰 수는 9009 (= 91 × 99) 입니다.

- 세 자리 수를 곱해 만들 수 있는 가장 큰 대칭수를 구하세요

정답 : 906609

In [18]:
palindrome = []

for i in range(100, 1000):
    for j in range(100, 1000):
        resultList = []
        temp = str(i * j)
        # /2로 반복 횟수 절반으로 줄이기 (21.01.10)
        for k in range(int(len(temp)/2)):
            resultList.append(temp[k] == temp[-(k+1)])
            
        if False not in resultList:
            palindrome.append(int(temp))

palindrome.sort()           
print(palindrome[-1])

906609

## 문제 7.
- 1 ~ 10 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수는 2520입니다.
   
- 그러면 1 ~ 20 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수는 얼마입니까?

정답 : 232792560

In [ ]:
# 각 소수의 거듭제곱중 10 아래에 있는 가장 큰 거듭제곱을 찾기
print(2*2*2*3*3*5*7)

In [28]:
# 1~20 사이 소수 찾기
prime = []
data = range(2, 21)
data = list(data)

while len(data) > 0 :
    prime.append(data[0])
    for a in range(len(data)):
        if data[a] % data[0] == 0:
            data[a] = data[0]
    data = set(data)
    data = list(data)
    data.sort()
    del data[0]
    
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19]

## 문제 8.
- 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같습니다 (제곱의 합).
- 1^2 + 2^2 + ... + 10^2 = 385

- 1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).
- (1 + 2 + ... + 10)^2 = 552 = 3025

- 따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 됩니다.

- 그러면 1부터 100까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마입니까?

정답 : 25164150

In [ ]:
sumofsquare = 0
squaredsum = 0
for i in range(1,101):
    sumofsquare += i**2
    squaredsum += i

print((squaredsum**2) - sumofsquare)

## 문제 9.
- 소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.

- 이 때 10,001번째의 소수를 구하세요.

정답 : 104743

## 문제 10.
- 세 자연수 a, b, c 가 피타고라스 정리 a^2 + b^2 = c^2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
- 예를 들면 3^2 + 4^2 = 9 + 16 = 25 = 5^2이므로 3, 4, 5는 피타고라스 수입니다.

- a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 
- 이 때, a × b × c 는 얼마입니까?

정답 : 31875000

# 수행평가 문제 2
- 데이터 처리 문제 [링크](https://moon9342.github.io/python-lecture-python-oop-exercise)

1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 평균적으로 더 높은지 확인하세요.

3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.

5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.
---

## 문제 분석
1. 자동차에 대한 정보(manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class) 
    - 11개의 property로 설정
2. 조건부 비교(A인 조건에서 B를 확인하기)가 많다
3. 각 객체에 대한 임의의 property에 접근할 수 있어야 함
3. 특정 property에 대한 평균을 구할 수 있어야 한다

---
## 분석 결과
1. 우선 11가지 property를 지닌 클래스 생성
2. 다양한 property을 한번에 출력할 수 있는 method 구상
    - 하나의 method로 모든 property를 전달하기
        1. 일단 property를 dict로 만들어 전달해보기
3. 평균을 어떻게 구할까?
    - method로 property 받아서 평균구하기?(일단 이걸로)
    - 아니면 자체적으로 평균 구하는 method 구현?

In [12]:
class Car(object):
    def __init__(self,manu,model,displ,year,cyl,trans,drv,cty,hwy,fl,cls):
        self.manufacturer = manu
        self.model = model
        self.displ = displ
        self.year = year
        self.cyl = cyl
        self.trans = trans
        self.drv = drv
        self.cty = cty
        self.hwy = hwy
        self.fl = fl
        self.calss = cls
        
    # 객체의 속성을 속성의 이름을 키값으로 갖는 딕셔너리로 만들어 리턴
    def get_info(self):
        result = {'manufacturer': self.manufacturer,
                  'model': self.model,
                  'displ': self.displ,
                  'year': self.year,
                  'cyl': self.cyl,
                  'trans': self.trans,
                  'drv': self.drv,
                  'cty': self.cty,
                  'hwy': self.hwy,
                  'fl': self.fl,
                  'calss': self.calss
                 }
        return result
    
    def get_manu(self):
        return self.manufacturer
    
    
    
# car 인스턴스가 담긴 리스트와 평균을 구하고자 하는 속성을 인자로 받아 평균을 리턴하는 함수
def get_mean(car_list, target):
    result = []
    for car in car_list:
        result.append(car.get_info()['{}'.format(target)])
    
    mean = sum(result)/len(result)
    return mean

# 특정조건의 인스턴스 리스트 리턴인데 조건 3가지 한번에 구현 가능한가?
# 일단 보류 좀더 고민해봐야 할듯
def get_list(car_list, target, n):
    스위치 n == 1:
    # 조건 1. ~~보다 작다
    for car in car_list:
        if  tmp <= 4:
            lower_4.append(car)
        elif tmp >= 5:
            upper_5.append(car)
        else:
            pass
    스위치 n == 2
    # 조건 2. ~~보다 크다
    
    n==3
    # 조건 3. ~~이인거
    
def 조건 찾기(n):
    스위치 nn ==0
    크다()
    

def 크다():
    
def 작다():
    
def 동일():

In [11]:
# 파일 경로, 수행할 작업(r : 읽기)
my_file = open('mpg.txt', 'r')
# header 버리기
my_file.readline()

car_list = []
# 파일안의 모든 내용(line)을 화면에 출력하기
while True:
    line = my_file.readline().splitlines()
    if not line:
        break
    else:
        tmp_list = line[0].split(',')
        # 숫자인 속성값은 실수로 미리 형변환하여 추가(21.01.09)
        car_list.append(Car(tmp_list[0],tmp_list[1],float(tmp_list[2]),float(tmp_list[3]),float(tmp_list[4]),
                            tmp_list[5],tmp_list[6],float(tmp_list[7]),float(tmp_list[8]),tmp_list[9],tmp_list[10]))

# 사용한 리소스는 적절하게 해제처리를 진행
my_file.close()

1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

In [16]:
# 배기량이 4이하, 5이상인 자동차 찾기
lower_4 = []
upper_5 = []
for car in car_list:
    if  car.get_info()['displ'] <= 4:
        lower_4.append(car)
    elif car.get_info()['displ'] >= 5:
        upper_5.append(car)
    else:
        pass

In [17]:
# 평균 구하는 함수를 이용한 코드 (21.01.09)

print('배기량 4이하 자동차의 고속도로 연비의 평균 : {}'.format(get_mean(lower_4, 'hwy')))
print('배기량 5이상 자동차의 고속도로 연비의 평균 : {}'.format(get_mean(upper_5, 'hwy')))

# 이게 아래 코드보다 훨씬 짧고 좋은거 같음

배기량 4이하 자동차의 고속도로 연비의 평균 : 25.96319018404908
배기량 5이상 자동차의 고속도로 연비의 평균 : 18.07894736842105

In [68]:
# 이전 버전 평균 구하는 코드
result_lower = []
for a in lower_4:
    result_lower.append(float(a.get_info()['hwy']))
    
result_upper = []
for b in upper_5:
    result_upper.append(float(b.get_info()['hwy']))
    
print('배기량 4이하 자동차의 고속도로 연비의 평균 : {}'.format(sum(result_lower)/len(result_lower)))
print('배기량 5이상 자동차의 고속도로 연비의 평균 : {}'.format(sum(result_upper)/len(result_upper)))

배기량 4이하 자동차의 고속도로 연비의 평균 : 25.96319018404908
배기량 5이상 자동차의 고속도로 연비의 평균 : 18.07894736842105

- 일단 한번 해봤는데 코드가 상당히 길고 리스트를 너무 많이 남발함
- 그리고 특정 property에 대한 평균을 구하는 게 많다
    - 이걸 클래스의 메소드로 구현해야 할거 같음
    - 다시 생각해보니 클래스의 메소드로 만들수 있을까 고민됨
    - 일단 따로 함수로 만들어봄
    - 21.01.09 / 함수 만든거 클래스 바로 아래로 올림

2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 평균적으로 더 높은지 확인하세요.

In [15]:
# 제조사가 audi, toyota인 자동차 찾기
audi = []
toyota = []
for car in car_list:

    if  car.get_info()['manufacturer'] == 'audi':
        audi.append(car)
    elif  car.get_info()['manufacturer'] == 'toyota':
        toyota.append(car)
    else:
        pass

print('audi 자동차의 도시 연비의 평균 : {}'.format(get_mean(audi, 'cty')))
print('toyota 자동차의 도시 연비의 평균 : {}'.format(get_mean(toyota, 'cty')))

audi 자동차의 도시 연비의 평균 : 17.61111111111111
toyota 자동차의 도시 연비의 평균 : 18.529411764705884

- 문제 풀다보니 특정 조건 찾는 기능도 자주 씀
- 이것도 함수로 만들까 했는데 문제는 중간에 형변환
- 그럼 애초에 처음 데이터를 받을때부터 형식 지정해서 가져오자(21.01.09)
- 그리고 특정 조건 인스턴스 리스트 출력 함수도 제작했는데 이상, 이하와 특정 조건 이 3가지를 한 함수로 구현할 수 있나?

3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.

5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.